<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <title>介護求人・転職なら介護求人情報サイト｜介護ワーカー</title>
    <meta
      name="description"
      content="介護の転職サポート登録のページ。介護の求人・転職なら介護ワーカー。介護福祉士、ホームヘルパー、ケアマネ、社会福祉士などの求人情報がどこよりも詳しくわかる！あなたの理想の職場がきっと見つかる！"
    />
    <link href="favicon/favicon.ico" type="image/x-icon" rel="icon" />
    <link href="favicon/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link rel="stylesheet" href="css/step-form.css" />
  </head>

  <body class="controller-lp action-helloworkStep">
    <!-- ヘッダー -->
    <header class="form-header">
      <div class="header-inner">
        <a class="logo" href="/"
          ><img src="img/logo.svg" alt="介護ワーカー"
        /></a>
        <p class="license">
          <img
            src="img/img-license.png"
            alt="厚生労働大臣許可：27-ュ-301770：派27-302147"
          />
        </p>
      </div>
    </header>

    <!-- コンテンツ -->
    <div class="entry-box">
      <h1>
        <img
          src="img/img-helloworkstep-mv.png"
          alt="ご利用は完全無料 介護ワーカーの人気の非公開求人!!"
        />
      </h1>

      <div id="step-form">
        <form
          method="post"
          accept-charset="utf-8"
          class="form-valid entry"
          action="/lp/lpo/n_fo/beta_240611/lp.html"
        >
          <div style="display: none">
            <input type="hidden" name="_method" value="POST" />
            <input
              type="hidden"
              name="_csrfToken"
              autocomplete="off"
              value="your_csrf_token_here"
            />
          </div>
          <div class="input text">
            <input
              type="text"
              name="referer"
              hidden="hidden"
              id="referer"
              value="/"
            />
          </div>

          <!-- ステップ1 -->
          <div id="step1" class="list-step" v-if="currentStep === 1">
            <div class="step-img">
              <img src="img/img-entryStep1.png" alt="step1" />
            </div>

            <dl class="form-item">
              <dt class="required">どの資格をお持ちですか？</dt>
              <dd>
                <ul class="checkbox form-check-btn">
                  <li
                    class="list-icon qualification-list"
                    v-for="qualificationOption in qualifications"
                    :key="qualificationOption.value"
                  >
                    <label>
                      <input
                        type="checkbox"
                        name="qualification"
                        :value="qualificationOption.value"
                        v-model="qualification"
                        @change="handleQualificationChange"
                      />
                      <span>
                        <span class="button-icon qualification-button-icon">
                          <img :src="qualificationOption.img" />
                        </span>
                        <span v-html="qualificationOption.label"></span>
                      </span>
                    </label>
                  </li>
                </ul>
              </dd>
              <p class="error" v-if="errorMessages.qualification" v-cloak>
                {{ errorMessages.qualification }}
              </p>
            </dl>

            <div class="buttom-area">
              <button
                type="button"
                class="nextbtn"
                v-bind:class="{'button-shine':validateStep(1)}"
                id="next1"
                @click="goToStep(currentStep + 1)"
                :disabled="!validateStep(1)"
              >
                <p class="free">無料</p>
                <p>次へ進む</p>
              </button>
            </div>
          </div>
          <!-- ここまで -->

          <!-- ステップ2 -->
          <div id="step2" class="list-step" v-if="currentStep === 2">
            <div class="step-img">
              <img src="img/img-entryStep2.png" alt="step2" />
            </div>

            <dl class="form-item">
              <dt>ご希望の働き方・転職希望時期はございますか？</dt>
              <dt class="required">勤務形態</dt>
              <dd>
                <ul class="form-check-btn">
                  <li
                    class="list-icon workstyle-list"
                    v-for="workStyleOption in workStyles"
                    :key="workStyleOption.value"
                  >
                    <label>
                      <input
                        type="checkbox"
                        name="workStyle"
                        :value="workStyleOption.value"
                        v-model="workStyle"
                        @change="handleWorkStyleChange"
                      />
                      <span>
                        <span class="button-icon workstyle-button-icon">
                          <img :src="workStyleOption.img" />
                        </span>
                        <span v-html="workStyleOption.label"></span>
                      </span>
                    </label>
                  </li>
                </ul>
              </dd>
              <p class="error" v-if="errorMessages.workStyle" v-cloak>
                {{ errorMessages.workStyle }}
              </p>
            </dl>

            <dl class="form-item">
              <dt class="required">入職希望時期</dt>
              <dd>
                <ul class="form-check-btn">
                  <li
                    class="list-icon requirest-date-list"
                    v-for="requestDateOption in requestDates"
                    :key="requestDateOption.value"
                  >
                    <label>
                      <input
                        type="radio"
                        name="requestDate"
                        :value="requestDateOption.value"
                        v-model="requestDate"
                        @change="handleRequestDateChange"
                      />
                      <span>
                        <span class="button-icon requirest-date-button-icon">
                          <img :src="requestDateOption.img" />
                        </span>
                        <span v-html="requestDateOption.label"></span>
                      </span>
                    </label>
                  </li>
                </ul>
              </dd>
            </dl>

            <div class="buttom-area">
              <button
                type="button"
                class="backbtn"
                id="back2"
                @click="goToStep(currentStep - 1)"
              >
                <p>戻る</p>
              </button>
              <button
                type="button"
                class="nextbtn"
                v-bind:class="{'button-shine':validateStep(2)}"
                id="next2"
                @click="goToStep(currentStep + 1)"
                :disabled="!validateStep(2)"
              >
                <p>次へ進む</p>
              </button>
            </div>
          </div>
          <!-- ここまで -->

          <!-- ステップ3 -->
          <div id="step3" class="list-step" v-if="currentStep === 3">
            <div class="step-img">
              <img src="img/img-entryStep3.png" alt="step3" />
            </div>

            <dl class="form-item">
              <dt>現在のおすまいは？</dt>
              <dt class="acoBox accordion-head" @click="toggleAccordion">
                <span class="optional">郵便番号</span>
              </dt>
              <dd class="accordion-content">
                <input
                  type="tel"
                  name="zipCode"
                  placeholder="例）5410047"
                  v-model="zipCode"
                  @change="onChangeZipCode"
                />
              </dd>
              <p class="error" v-if="errorMessages.zipCode" v-cloak>
                {{ errorMessages.zipCode }}
              </p>
            </dl>

            <dl class="form-item">
              <dt class="required">住所</dt>
              <dd>
                <span class="pref-box">
                  <span class="select-arrow">
                    <select
                      name="prefecture"
                      class="prefecture"
                      v-model="prefecture"
                      @change="handlePrefectureChange"
                    >
                      <option value="">都道府県選択</option>
                      <option
                        v-for="(name, index) in Object.keys(addressData)"
                        :key="index"
                        :value="name"
                      >
                        {{ name }}
                      </option>
                    </select>
                  </span>
                  <p class="error" v-if="errorMessages.prefecture" v-cloak>
                    {{ errorMessages.prefecture }}
                  </p>
                </span>
                <span class="pref-box">
                  <span class="select-arrow">
                    <select
                      name="city"
                      class="city"
                      v-model="city"
                      @change="handleCityChange"
                    >
                      <option value="">選択してください</option>
                      <option v-for="city in cities" :key="city" :value="city">
                        {{ city }}
                      </option>
                    </select>
                  </span>
                  <p class="error" v-if="errorMessages.city" v-cloak>
                    {{ errorMessages.city }}
                  </p>
                </span>
              </dd>
            </dl>

            <div class="buttom-area">
              <button
                type="button"
                class="backbtn"
                id="back3"
                @click="goToStep(currentStep - 1)"
              >
                <p>戻る</p>
              </button>
              <button
                type="button"
                class="nextbtn"
                v-bind:class="{'button-shine':validateStep(3)}"
                id="next3"
                @click="goToStep(currentStep + 1)"
                :disabled="!validateStep(3)"
              >
                <p>次へ進む</p>
              </button>
            </div>
          </div>
          <!-- ここまで -->

          <!-- ステップ4 -->
          <div id="step4" class="list-step" v-if="currentStep === 4">
            <div class="step-img">
              <img src="img/img-entryStep4.png" alt="step4" />
            </div>

            <dl class="form-item">
              <dt>お名前・生まれ年を入力してください。</dt>
              <dt class="required">お名前</dt>
              <dd>
                <input
                  type="text"
                  name="name"
                  placeholder="例) 介護 花子"
                  v-model="name"
                  @change="handleNameChange"
                />
              </dd>
              <p class="error" v-if="errorMessages.name" v-cloak>
                {{ errorMessages.name }}
              </p>
            </dl>

            <dl class="form-item">
              <dt class="required">生まれ年</dt>
              <dd>
                <span class="select-arrow">
                  <select
                    name="year"
                    class="year"
                    v-model="year"
                    @change="handleYearChange"
                  >
                    <option
                      v-for="yearOption in years"
                      :key="yearOption"
                      :value="yearOption"
                    >
                      {{ yearOption }}
                    </option>
                  </select>
                </span>
              </dd>
            </dl>

            <div class="buttom-area">
              <button
                type="button"
                class="backbtn"
                id="back4"
                @click="goToStep(currentStep - 1)"
              >
                <p>戻る</p>
              </button>
              <button
                type="button"
                class="nextbtn"
                v-bind:class="{'button-shine':validateStep(4)}"
                id="next4"
                @click="goToStep(currentStep + 1)"
                :disabled="!validateStep(4)"
              >
                <p>次が最後の項目</p>
              </button>
            </div>
          </div>
          <!-- ここまで -->

          <!-- ステップ5 -->
          <div id="step5" class="list-step" v-if="currentStep === 5">
            <div class="step-img">
              <img src="img/img-entryStep5.png" alt="step5" />
            </div>

            <dl class="form-item">
              <dt>ご連絡先を入力してください。</dt>
              <dt class="required">電話番号</dt>
              <dd>
                <input
                  type="tel"
                  class="tel"
                  name="tel"
                  placeholder="例）09011112222"
                  v-model="tel"
                  @change="handleTelChange"
                />
              </dd>
              <p class="tel-comment">
                お電話にて非公開求人をご紹介いたします。
              </p>
              <p class="error" v-if="errorMessages.tel" v-cloak>
                {{ errorMessages.tel }}
              </p>
            </dl>

            <dl class="form-item">
              <dt class="acoBox accordion-head" @click="toggleAccordion">
                <span class="optional">メール</span>
              </dt>
              <dd class="accordion-content">
                <input
                  type="text"
                  name="email"
                  placeholder="例）kaigo@kaigoworker.jp"
                  v-model="email"
                  @change="handleEmailChange"
                />
              </dd>
              <p class="error" v-if="errorMessages.email" v-cloak>
                {{ errorMessages.email }}
              </p>
            </dl>

            <div class="buttom-area">
              <button
                type="button"
                class="backbtn"
                id="back5"
                @click="goToStep(currentStep - 1)"
              >
                <p>戻る</p>
              </button>
              <button
                type="submit"
                class="nextbtn loading"
                v-bind:class="{'button-shine':validateStep(5)}"
                id="next5"
                :disabled="!validateStep(5) || isPush"
              >
                <p>
                  <span class="small-text">利用規約と個人情報の取扱いに</span
                  ><br />同意して登録
                </p>
              </button>
            </div>

            <!-- グランドサイトチェックボックス -->
            <div class="gs-register">
              <div class="gs-check">
                <input type="hidden" name="gs_check" value="0" />
                <input
                  class="gs_check"
                  type="checkbox"
                  name="gs_check"
                  id="gs_check"
                  checked="checked"
                  value="ダイレクト応募サービスにも同時登録する"
                />
                <label for="gs_check"
                  >ダイレクト応募サービスにも同時登録する</label
                >
              </div>
              <ul class="gs-poricies">
                <li>
                  <a
                    href="https://tryt-worker.jp/company/dr-sitepolicy/"
                    target="_blank"
                    >トライトワーカーダイレクト利用規約</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- ここまで -->
        </form>
      </div>

      <div class="pmark">
        <img src="img/privacy.gif" alt="プライバシーマーク" />
        <p class="txt">
          <span>徹底した管理体制で大切な個人情報をお守りします。</span
          ><br />介護ワーカーを運営する（株）トライトキャリアは<br />プライバシーマークを取得しております。
        </p>
      </div>
      <ul class="policyBox">
        <li>
          <a href="https://tryt-worker.jp//company/sitepolicy/" target="_blank"
            >利用規約</a
          >
        </li>
        <li>
          <a href="https://tryt-worker.jp//company/handling/" target="_blank"
            >個人情報の取扱い</a
          >
        </li>
        <li>
          <a
            href="https://tryt-worker.jp//company/privacypolicy/"
            target="_blank"
            >個人情報保護方針</a
          >
        </li>
        <li>
          <a href="https://tryt-career.co.jp/about/" target="_blank"
            >会社概要</a
          >
        </li>
      </ul>
    </div>

    <!-- ポップアップ -->
    <div class="lp_step_question_popup">
      <div class="modal modal-motivation">
        <h5 class="popup_title">お気持ちはどちらに近いですか？</h5>
        <button class="close-button first-button">近いうちに転職したい</button>
        <button class="close-button second-button">求人情報を閲覧したい</button>
      </div>
    </div>

    <!-- フッター -->
    <footer id="form-footer">
      <div class="copyright">
        <p>&copy; TRYT Career ,Inc.</p>
      </div>
    </footer>

    <script src="js/address.js"></script>
    <script src="js/lib/vue.global.prod.3_4_27.js"></script>
    <script type="module" src="js/step-form.js"></script>
    <script
      src="https://js.sentry-cdn.com/ee4f1bfa19f9df05bc040a7f866f239d.min.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
